@model IndexViewModel
@{
    ViewData["Title"] = "Manage your account";
}

<h2>@ViewData["Title"].</h2>
<p class="text-success">@ViewData["StatusMessage"]</p>

<div>
   <h4>Profile</h4>
    <hr />
        <dt>Name</dt>
        <dt>Age</dt>
        <dt>Height</dt>
        <dt>Weight</dt>
        <dt>IMC</dt>
        <dt>Sex</dt>
        <dt>Email</dt>@Model.Email
        <div class="personal_container">
        </div>
</div>
<div>
    <h4>Change your account settings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Password:</dt>
        <dd>
            @if (Model.HasPassword)
            {
                <text>[&nbsp;&nbsp;<a asp-controller="Manage" asp-action="ChangePassword">Change</a>&nbsp;&nbsp;]</text>
            }
            else
            {
                <text>[&nbsp;&nbsp;<a asp-controller="Manage" asp-action="SetPassword">Create</a>&nbsp;&nbsp;]</text>
            }
        </dd>
    </dl>
 </div>
 
<div>
        <h4>Change your personal info</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>Physical Information:</dt>
            <dd>
                <text>[&nbsp;&nbsp;<a asp-controller="Manage" asp-action="ChangeInfo">Change</a>&nbsp;&nbsp;]</text>
            </dd>
        </dl>
</div>
