@model IEnumerable<WebApplication4.Models.PhysicalInfoRecord>

@{
    ViewData["Title"] = "Physical Records ";
}

<h2>Physical Records</h2>

<div class="top-left table-responsive col-md-12">
    <table class="table" style="background-color:#F8F8F8">
        <thead style="color:black">
            <tr>
                <th>Height</th>
                <th>Weight</th>
                <th>IMC</th>
                <th>Date</th>

            </tr>
        </thead>
        <tbody style="color:black">
            @foreach (var regist in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => regist.height) m
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => regist.weight) Kg
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => regist.imc)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => regist.recordDate)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

