@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<!--<h3>@ViewData["Message"]</h3> -->
<h3 style="text-align:center">Cloud Computing MEICM </h3>

<address>
    Rua General Norton de Matos,<br />
    Apartado 4133, <br />
    2411-901 Leiria – Portugal<br />
    <abbr title="Phone">P:</abbr>
    (+351) 244830010
</address>

<address>
    <strong>Support:</strong> <a href="mailto:ipleiria@ipleiria.pt">ipleiria@ipleiria.pt</a><br />
    
</address>
