<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>WeightLoss Helper!</title>

</head>
<body>
    <div class="top-content">
        <h1>Weight Loss Helper 2.0 </h1>
        <h4 id="content">
            This Application  would help the users to lose weight by keeping a diary of their weight, ingested calories,
            physical exercise, etc. The results achieved through a period of time.

        </h4>       
          
    </div>
</body>
</html>